/* App.css */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0073ff;
    color: #fff;
    padding: 10px;
}

.cart-button,
.add-to-cart-button {
    cursor: pointer;
    padding: 5px;
}

.cart-button:hover,
.add-to-cart-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.cart-button {
    margin-left: auto;
}

.add-to-cart-button {
    background: none;
    border: none;
    outline: none;
}

.add-to-cart-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.App {
    text-align: center;
}


table.styled-table,
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.styled-table th,
table.styled-table td,
.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.styled-table th,
.table th {
    background-color: #2d8831;
    color: white;
    width: fit-content;

}

.table th {
    background-color: #963a3a;

}

.table td {
    background-color: rgb(152, 42, 42);
}

.cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #213b7c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    display: none;
    width: 300px
}

.cart-container {
    position: relative;
    cursor: pointer;
}

.cart-container:hover .cart-dropdown {
    display: block;
}